Django==3.0.3
six==1.14.0
sqlparse==0.3.1

# Whitenoise: Staticfile hosting
whitenoise==5.0.1
django-npm==1.0.0

git+https://github.com/tom-henderson/django-common

# gunicorn==19.9.0
# psycopg2==2.8.2
# dj-database-url==0.5.0